# Pandas

This is a short introduction to pandas, geared mainly for new users. You can see mor complex recipes in the cookbook.

Customarily, we import as follows:

In [19]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\hansa\anaconda3\lib\site-packages (3.3.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hansa\anaconda3\lib\site-packages (from matplotlib) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\hansa\anaconda3\lib\site-packages (from matplotlib) (2020.6.20)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hansa\anaconda3\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\hansa\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\hansa\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.15 in c:\users\hansa\anaconda3\lib\site-packages (from matplotlib) (1.19.2)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\hansa\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\hansa\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pandas as pd

In [21]:
import numpy as np

In [22]:
import matplotlib.pyplot as plt

# Object Creation

Creating a series by passing a list of values, letting pandas create a default integer index:

In [23]:
s = pd.Series([1,3,5,np.nan,6,8])

In [24]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a numpy array, with a datetime index and labeled columns:

In [25]:
dates = pd.date_range('20210505', periods=6)

In [26]:
dates

DatetimeIndex(['2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))

In [28]:
df

                   A         B         C         D
2021-05-05  0.105530  0.729869  1.151857 -0.440620
2021-05-06 -0.929935 -1.087094  0.273811  0.821175
2021-05-07  1.696774  0.353791 -1.218675 -0.513215
2021-05-08 -0.581640  1.095791 -0.331355 -0.365442
2021-05-09 -1.382122 -2.777190 -0.596183  0.587031
2021-05-10 -1.185331  0.896117  0.185987  1.589159

Creating a DataFrame by passing a dict of objects that can be converted to series like

In [29]:
df2 = pd.DataFrame({'A': 1., 
                   'B' : pd.Timestamp('20210506'),
                   'C': pd.Series(1, index=list(range(4)),dtype='float'),
                    'D' : np.array([3] * 4,dtype='int32'),
                   'E' : pd.Categorical(["test","train","test","train"]),
                   'F': 'foo'})

In [30]:
df2

     A          B    C  D      E    F
0  1.0 2021-05-06  1.0  3   test  foo
1  1.0 2021-05-06  1.0  3  train  foo
2  1.0 2021-05-06  1.0  3   test  foo
3  1.0 2021-05-06  1.0  3  train  foo

Having sepecfic dtypes

In [31]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float64
D             int32
E          category
F            object
dtype: object

If you're using